
#topNav {
  padding: 5px;

}

#topNav li {
  border-radius: 15px 15px 15px 15px;
  display: inline;
  padding: 10 20 10 20;
  font-family: sans-serif;
  font-size: 20px;
  color: gray;
  float: right;

}

#topNav li a {

text-decoration: none;
}

a:hover {
  color: teal;

}

#topNav li:hover {
   background-color: gray;
}
