
#topNav {
  padding: 5px;
  height: 40px;
  margin: 0px;
  background-color: red;
}

#topNav li {
  border-radius: 15px 15px 15px 15px;
  display: inline;
  padding: 10 20 10 20;
  font-family: sans-serif;
  font-size: 20px;
  color: gray;
  float: right;
  background-color: #33CC33;

}

#topNav li a {
color: white;
text-decoration: none;
}

#topNav a:hover {
  color: black;

}

#topNav li:hover {
   background-color: #00FF00;
}

#menuNav {
    height: 200%;
    width: 200px;
    background-color: #dddddd;
    margin: 0px;
    border-right: 2px solid black;
    padding-left: 20px;
    float: left;
    z-index: -999; /*negative z-index pushes an element to the background*/
}

#menuNav li {
    padding-top: 15px;
    list-style: none;
    font-family: monospace;
    font-size: 20;
}

#menuNav li a{
    border: 2px;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    color: black;
    padding: 5 5 5 5;
}

#menuNav a:hover{
    color: gray;
}

#menuNav h1 {
    text-decoration: underline;
}

#content {
    background-color: white;
}

#content h1 {
    font-family: monospace;
    border: 2px;
    border-style: solid;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;

}

#content p {
    font-size: 25px;
    font-family: arial;

}

#content a {

}
